.containerforget{
    position: absolute;
    top:20%;
    flex-direction: column;
    background-color: rgba(71, 62, 62, 0.2);
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px round black;
    max-width: 30%;
}
.forgeticon{
    margin-top: 10px;
    display: flex;
    justify-content: center;

}